body {
    background-color: hsl(25, 100%, 95%);
  }
  .title {
    font-family: Montserrat;
    background-color: hsla(25, 100%, 7%, 0.7);
    padding: 1%;
    margin: -1%;
    color: hsl(25, 100%, 95%);
  }
  
  nav {
    margin-top: 1%;
    margin-left: -1%;
    margin-right: -1%;
    padding: 1%;
    background-color: hsla(25, 100%, 7%, 0.25);
    border: 3px solid;
    border-color: hsl(25, 100%, 7%);
  }
  .selector {
    padding-left: 10.5%;
    padding-right: 10.45%;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: hsla(25, 100%, 7%, 0.25);
    font-family: Merriweather;
    text-decoration: none;
    color: hsl(25, 100%, 95%);
    font-size: 16px;
    border: 1px solid;
    border-color: hsl(25, 100%, 7%);
  }
  
  h2 {
    font-family: Montserrat;
  }
  
  p {
    font-family: Catamaran;
    font-size: 20px;
  }
  
  .whatIs {
    float: left;
    margin: 4%;
    margin-left: 7.5%;
    width: 400px;
  }
  
  .htmlTable {
    margin-top: 5%;
  }
  
  .cssTable {
    margin-top: 5%;
  }
  
  table {
    background-color: hsl(25, 2%, 95%);
  }
  
  table,
  th,
  td {
    border: outset 3px;
    border-color: hsl(25, 100%, 7%);
    width: 500px;
    font-family: Merriweather;
  }
  
  th,
  td {
    padding: 3%;
  }
  